---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans';
@import 'custom';
@import 'bootstrap';
@import 'header';
@import 'navbar';
$gray-light2: lighten(#000, 98.6667%);

.bg-odd {
  background-color: $gray-light2;
}

.bg-even {
  background-color: $gray-lightest;
}

.bg-dark {
  background-color: $gray-dark;
}
@media print {
  .bg-odd {
    background-color: white;
  }

  .bg-even {
    background-color: white;
  }

  .bg-dark {
    background-color: $gray-light2;
  }

  a.social-links {
    &.active,
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      color: $gray-dark;
    }
  }
}
.fadeIn {
-webkit-animation-duration: 3s;
-moz-animation-duration: 3;
-ms-transition-animation-duration: 3s;
}

.body-text {
  font-family: $font-family-serif;
}
