<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>DevOps Engineer</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>Migration einer veralteten Infrastruktur in eine private Cloud auf OpenStack-Basis.</li>
            <li>Konzeption und Aufbau von Server-Infrastrukturen auf OpenStack-Basis.</li>
            <li>Entwicklung von Tools zum dynamischen Deployment von Cloud-Infrastrukturen.</li>
            <li>Einf&uuml;hrung und Einweisung in Configuration Management.</li>
            <li>Aktualisierung Continuous Integration.</li>
            <li>Konfiguration und Wartung Backend-Systeme (MongoDB &amp; SOLR).</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        09/2016 - 02/2017&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        <a href="https://weg.de/" target="_blank">COMVEL GmbH/weg.de</a>&nbsp;&nbsp;<i class="ion-ios-home"></i><br>
        M&uuml;nchen&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
