<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>IT-Freelancer &amp; -Consultant</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>Einrichtung, Aktualisierung und Migriation von Linux- und Windows-Server.</li>
            <li>Planung, Installation und Konfigurationen von Mail-Relays mit Anti-Virus- &amp; Spam-Filter.</li>
            <li>Einrichtung und Betreuung von Virtual Private Networks.</li>
            <li>Implementierung und Optimierung Gateways und Routing.</li>
            <li>Optimierung von Netzwerken.</li>
            <li>Implementierung und Betreuung von Firewalls.</li>
            <li>Web-, Front- und Backend-Entwicklung.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        2003 - 2013&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        Berlin, Bundesweit&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
