<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>Linux-Systemadministrator</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>Einrichtung eines VPN zw. Collocation &amp; Office.</li>
            <li>Implementierung und Betreuung von Firewalls.</li>
            <li>Betrieb von Debian-basierten Application-Server.</li>
            <li>Einrichtung und Betreuung von Entwickler-Workstations.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        12/2000 - 03/2002&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        Icangetyou.com AG&nbsp;&nbsp;<i class="ion-ios-home"></i><br>
        Berlin&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
