<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>Security-Analyst &amp; Security-Engineer</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>Einrichtung und Change-Management von Symantec Firewall-Appliances f&uuml;r europ&auml;ische Kunden.</li>
            <li>Implementierung und Betreuung von Virtual Private Networks zwischen Symantec Firewall-Appliances.</li>
            <li>Mehrsprachiger technischer Support bei der Kunden-Akquise in Deutschland und Frankreich.</li>
            <li>Implementierung und Betreuung von Fernwartungssystemen (Dial-In Router, Terminal-Server, USV-Systeme).</li>
            <li>Mehrsprachiger 1st &amp; 2nd Level-Support und 24x7 Incident Response.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        03/2002 - 08/2003&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        <a href="https://symantec.com/" target="_blank">Symantec Deutschland GmbH</a>&nbsp;&nbsp;<i class="ion-ios-home"></i><br>
        Berlin, Europaweit&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
