<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>DevOps &amp; Entwickler</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>Virtualisierung von verschiedenen Betriebssystemen auf der VMWare vCloud (Windows, Linux, Mac OS X).</li>
            <li>Aufbau eines Katalog von VM Templates als Slaves f&uuml;r SaaS-/IaaS-Produkte.</li>
            <li>Konzeption und Aufbau einer Server-Infrastruktur mit VMware vCloud.</li>
            <li>Entwicklung von Tools zum dynamischen Deployment von Cloud-Ressourcen.</li>
            <li>Einf&uuml;hrung  und Konfiguration von Chef Servern und Clients.</li>
            <li>Verfassen und Pflege von 80+ Chef Rezepten.</li>
            <li>Konfiguration und Wartung Backend-Systeme (MySQL, PostgreSQL, RabbitMQ, Redis).</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        09/2013 - 08/2014&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        <a href="https://testfabrik.com/" target="_blank">Testfabrik AG</a>&nbsp;&nbsp;<i class="ion-ios-home"></i><br>
        Saarbr&uuml;cken&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
