<div class="row">
    <div class="col-lg-12 col-md-12 text-xs-left">
        <h4>Senior DevOps &amp; DevOps Consultant</h4>
    </div>
</div>
<div class="row experience-row">
    <div class="col-lg-8 col-md-8 text-xs-left">
        <ul>
            <li>DevOps-Consultant in externen Projekten.</li>
            <li>Team-Lead DevOps und IT-Operations.</li>
            <li>Schulung für bestehende Infrastruktur-Komponenten (Chef).</li>
            <li>Entwicklung dynamisches Anlegen, Betrieb und L&ouml;schen von dedizierten Virtual Private Clouds.</li>
            <li>Support bei der Entwicklung von Micro-Services in Java/Scala.</li>
            <li>Aufbau von Unit- Und Integration-Testsuiten des DevOps-Code.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-xs-right exp-info">
        09/2014 - 02/2016&nbsp;&nbsp;<i class="ion-ios-calendar-outline"></i><br>
        <a href="https://testfabrik.com/" target="_blank">Testfabrik AG</a>&nbsp;&nbsp;<i class="ion-ios-home"></i><br>
        Saarbr&uuml;cken&nbsp;&nbsp;<i class="ion-ios-location"></i>
    </div>
</div>
