<section id="post" class="bg-odd">
  <div class="container wow fadeIn mb-4">
    <div class="row">
      <div class="col-12 text-justify excerpt">
        <h1 class="mb-4">{{ page.title }}</h1> {{ content }}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        {% for tag in page.tags %}<span class="badge badge-primary p-2 mr-2 mb-2"><i class="icon ion-pricetag mr-1"></i><a href="/blog/tags/#{{ tag | slugify }}" class="tags">{{ tag }}</a></span>{% endfor %}<br>
        {% for tag in page.categories %}<span class="badge badge-primary p-2 mr-2"><i class="icon ion-folder mr-1"></i><a href="/blog/categories/#{{ tag | slugify }}" class="tags">{{ tag }}</a></span>{%
        endfor %}
      </div>
      <div class="col-6 text-right">
        Ver&ouml;ffentlicht am {{ page.date | date: "%d.%m.%Y" }}
      </div>
    </div>
  </div>
</section>
