<section id="certificates" class="bg-odd">
  <div class="container wow fadeIn">
    <h3 class="text-primary text-uppercase">Zertifizierungen</h3>
    <hr class="primary">
    <div class="row">
      <div class="col-md-12 mb-4 mt-4">Dies sind die Zertifizierungen, die Tarak erworben hat:</div>
    </div>{% for certificate in site.data.certificates %}
    <div class="row">
      <div class="col-md-2 text-primary text-uppercase text-right">{{ certificate.name }}</div>
      <div class="col-md-10">{{ certificate.description }}</div>
    </div>{% endfor %}
  </div>
</section>
