<section id="experience" class="bg-alt">
    <div class="container section-header">
        <div class="row">
            <div class="col-lg-12 text-xs-left">
                <h3 class="m-t-0 text-primary">Erfahrung</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeIn">
            {% include experience/comvel-head.html %}
            {% include experience/comvel-devops.html %}
            {% include experience/testfabrik-senior-devops.html %}
            {% include experience/testfabrik-devops.html %}
            {% include experience/freelance.html %}
            {% include experience/symantec.html %}
            {% include experience/icangetyou.html %}
    </div>
</section>
