<section id="experience" class="bg-alt">
    <div class="container section-header">
        <div class="row">
            <div class="col-lg-12 text-xs-left">
                <h3 class="m-t-0 text-primary">Erfahrung</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-xs-left">
                <h4>Senior DevOps</h4>
            </div>
        </div>
        <div class="container wow fadeIn">
            <div class="row experience-row">
                <div class="col-lg-8 col-md-8 text-xs-left">
                    <ul>
                        <li>DevOps-Consultant in externen Projekten.</li>
                        <li>Team-Lead DevOps und IT-Operations.</li>
                        <li>Schulung für bestehende Infrastruktur-Komponenten (Chef).</li>
                        <li>Entwicklung dynamisches Anlegen und L&ouml;schen von Cloud-Resourcen.</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 text-xs-right exp-info">
                    09/2014 - 02/2016&nbsp;&nbsp;<i class="ion-ios-calendar-outline wow fadeIn" data-wow-delay=".1s"></i><br>
                    <a href="https://testfabrik.com/" target="_blank">Testfabrik AG</a>&nbsp;&nbsp;<i class="ion-ios-home wow fadeIn" data-wow-delay=".1s"></i><br>
                    Saarbr&uuml;cken&nbsp;&nbsp;<i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-xs-left">
                    <h4>DevOps</h4>
                </div>
            </div>
            <div class="row experience-row">
                <div class="col-lg-8 col-md-8 text-xs-left">
                    <ul>
                        <li>Virtualisierung von verschiedenen Betriebssytemen auf der VMWare vCloud (Windows, Linux, Mac OS X).</li>
                        <li>Konzeption und Aufbau einer Server-Infrastruktur mit VMware vCloud.</li>
                        <li>Einführung und Konfiguration von Chef Servern und Clients.</li>
                        <li>Verfassen und Pflege von 80+ Chef Rezepten.</li>
                        <li>Konfiguration und Wartung Backend-Systeme (MySQL, PostgreSQL, RabbitMQ, Redis).</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 text-xs-right exp-info">
                    09/2013 - 08/2014&nbsp;&nbsp;<i class="ion-ios-calendar-outline wow fadeIn" data-wow-delay=".1s"></i><br>
                    <a href="https://testfabrik.com/" target="_blank">Testfabrik AG</a>&nbsp;&nbsp;<i class="ion-ios-home wow fadeIn" data-wow-delay=".1s"></i><br>
                    Saarbr&uuml;cken&nbsp;&nbsp;<i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-xs-left">
                    <h4>IT-Freelancer</h4>
                </div>
            </div>
            <div class="row experience-row">
                <div class="col-lg-8 col-md-8 text-xs-left">
                    <ul>
                        <li>Planung, Implementierung und Betreuung von Serversystemen.</li>
                        <li>Planung, Implementierung und Konfigurationen für Firewalls, Content-Proxies und Mail-Relays mit Anti-Virus- &amp; Spam-Filter.</li>
                        <li>Planung, Einrichtung und Betreuung von Virtual Private Networks.</li>
                        <li>Planung, Einrichtung und Betreuung von Firewalls &amp; Gateways.</li>
                        <li>Planung, Implementierung und Optimierung Routing (RIP, OSPF).</li>
                        <li>Planung, Implementierung und Optimierung von Netzwerken.</li>
                        <li>Planung und Implementierung von Monitoring-Systemen.</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 text-xs-right exp-info">
                    2003 - 2013&nbsp;&nbsp;<i class="ion-ios-calendar-outline wow fadeIn" data-wow-delay=".1s"></i><br>
                    Berlin, Bundesweit&nbsp;&nbsp;<i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-xs-left">
                    <h4>Security Analyst/Engineer</h4>
                </div>
            </div>
            <div class="row experience-row">
                <div class="col-lg-8 col-md-8 text-xs-left">
                    <ul>
                        <li>Implementierung und Betreuung von Firewalls, Content-Proxies und Mail-Relays mit Anti-Virus- &AMP; Spam-Filter</li>
                        <li>Implementierung und Betreuung von Virtual Private Networks.</li>
                        <li>Mehrsprachiger technischer Support bei der Kunden-Acquise.</li>
                        <li>Implementierung und Betreuung von Fernwartungssystemen (Dial-In Router, Terminal-Server, USV-Systeme).</li>
                        <li>Mehrsprachiger 1st &amp; 2nd Level-Support.</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 text-xs-right exp-info">
                    03/2002 - 08/2003&nbsp;&nbsp;<i class="ion-ios-calendar-outline wow fadeIn" data-wow-delay=".1s"></i><br>
                    <a href="https://symantec.com/" target="_blank">Symantec Deutschland GmbH</a>&nbsp;&nbsp;<i class="ion-ios-home wow fadeIn" data-wow-delay=".1s"></i><br>
                    Berlin, Europaweit&nbsp;&nbsp;<i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-xs-left">
                    <h4>Systemadministrator</h4>
                </div>
            </div>
            <div class="row experience-row">
                <div class="col-lg-8 col-md-8 text-xs-left">
                    <ul>
                        <li>Implementierung und Betreuung eines VPN zw. Collocation &amp; Office.</li>
                        <li>Planung, Implementierung und Betreuung von Collocation-Server.</li>
                        <li>Einrichtung und Betreuung von Entwickler-Systemen.</li>
                        <li>Implementierung und Betreuung von Firewalls.</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 text-xs-right exp-info">
                    12/2000 - 03/2002&nbsp;&nbsp;<i class="ion-ios-calendar-outline wow fadeIn" data-wow-delay=".1s"></i><br>
                    Icangetyou.com AG&nbsp;&nbsp;<i class="ion-ios-home wow fadeIn" data-wow-delay=".1s"></i><br>
                    Berlin&nbsp;&nbsp;<i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i>
                </div>
            </div>
        </div>
    </section>