<section id="experiences" class="bg-even">
  <div class="container wow fadeIn">
    <h3 class="text-primary text-uppercase">Erfahrung</h3>
    <hr class="primary">
    <div class="row body-text">{% for experience in site.data.experiences %}
      <div class="col-md-12">
        <div class="mb-4 mt-4 pull-right text-right">
          {{ experience.start_date }}<span>&nbsp;&dash;&nbsp;</span>{{ experience.end_date }}<i class="ion ion-android-calendar ml-2"></i><br>
          {% if experience.company_url %}<a href="{{ experience.company_url }}" target="_blank">{% endif %}{{ experience.company }}{% if experience.company_url %}</a>{% endif %}<i class="ion ion-home ml-2"></i><br>
          {{ experience.location }}<i class="ion ion-ios-location ml-2"></i>
        </div>
        <div class="mt-4"><h5>{{ experience.title }}</h5></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>{% for assignment in experience.assignments %}
          <li>
            {{ assignment }}
          </li>{% endfor %}
        </ul>
      </div>{% endfor %}
    </div>
  </div>
</section>
