<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <table>
                    <tr>
                        <td><i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i></td>
                        <td>Rotenbergstr. 6<br>66111 Saarbr&uuml;cken</td>
                    </tr>
                    <tr>
                        <td><i class="ion-email wow fadeIn" data-wow-delay=".1s"></i></td>
                        <td>halbkarat [at] gmail.com</td>
                    </tr>
                    <tr>
                        <td><i class="ion-ios-telephone wow fadeIn" data-wow-delay=".1s"></i></td>
                        <td><a href="tel:+4915254228237" class="footer-links">+49 1525 422 82 37</a></td>
                    </tr>
                    <tr>
                        <td><i class="ion-android-alert wow fadeIn" data-wow-delay=".1s"></i></td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#privacyModal" class="footer-links">Datenschutzerkl&auml;rung</a>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="ion-android-warning wow fadeIn" data-wow-delay=".1s"></i></td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#diclaimerModal" class="footer-links">Impressum</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://github.com/tarak" target="_blank" class="footer-links">
                            <i class="icon-lger ion-social-github wow fadeIn" data-wow-delay=".1s"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://google.com/+TarakBlah" target="_blank" class="footer-links">
                            <i class="icon-lger ion-social-googleplus wow fadeIn" data-wow-delay=".1s"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/tarak.blah" target="_blank" class="footer-links">
                            <i class="icon-lger ion-social-facebook wow fadeIn" data-wow-delay=".1s"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/halbkarat" target="_blank" class="footer-links">
                            <i class="icon-lger ion-social-twitter wow fadeIn" data-wow-delay=".1s"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <br>
            <span class="pull-right small">Made with Bootstrap v4 and Jekyll</span>
        </div>
    </div>
</footer>
<div id="privacyModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {% include privacy.html %}
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>
<div id="diclaimerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {% include disclaimer.html %}
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>