<section id="footer" class="bg-dark">
  <div class="container wow fadeIn mb-4 text-white">
    <div class="row mt-4">
      <div class="col-12 mt-4 text-center">
        &copy; 2017 &bull; Tarak Blah
        <br>
        <br>
        <a href="#privacyModal" data-toggle="modal" data-target="#privacyModal" class="contact-links">
          <i class="icon ion-md-warning"></i> Datenschutzerkl&auml;rung
        </a>
        <br>
        <a href="#impressumModal" data-toggle="modal" data-target="#impressumModal" class="contact-links">
          <i class="icon ion-md-information-circle"></i> Impressum
        </a>
      </div>
    </div>
  </div>
</section>
