<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#top" id="logo"><img src="/img/tarak-signature.png" height="30px" class="logo"></a>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-2" href="#profile">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-2" href="#experiences">Erfahrung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-2" href="#skills">Kompetenzen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-2" href="#certificates">Zertifizierungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-2" href="#personal">Pers&ouml;nliches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll pl-2 pr-0" href="#contact">Kontakt</a>
        </li>
    </div>
  </div>
</nav>
