<section id="personal" class="bg-odd">
  <div class="container wow fadeIn mb-4">
    <h3 class="text-primary text-uppercase mt-sm-4">Pers&ouml;nliches</h3>
    <hr class="primary">
    <div class="row body-text">
      <div class="col-md-6 mt-4">
        <div class="row text-center">
          <div class="col-md-12 text-left">
            <h5><i class="ion-help-circled mr-2"></i>Info</h5>
            <hr class="primary">
          </div>
          <div class="col-md-12 mt-4">
            <i class="icon icon-m ion-ios-location"></i>
            <div class="">
              K&ouml;ln, Deutschland
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <i class="icon icon-m ion-android-globe"></i>
            <div>
              Deutsch &amp; Tunesisch
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <i class="fa icon-m fa-birthday-cake mb-3" aria-hidden="true"></i>
            <div>
              1974
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="row text-left">
          <div class="col-md-12">
            <h5><i class="ion-chatbubbles mr-2"></i>Sprachen</h5>
            <hr class="primary">
          </div>
          <div class="col-md-12 mt-4">
            <dl class="mt-4 w-75 mx-auto">
              <dt class="mt-4">Deutsch</dt>
              <dd class="mt-2">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-md-12 mt-4">
            <dl class="mt-4 w-75 mx-auto">
              <dt class="mt-4">Englisch</dt>
              <dd class="mt-2">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-md-12 mt-4">
            <dl class="mt-4 w-75 mx-auto">
              <dt class="mt-4">Franz&ouml;sisch</dt>
              <dd class="mt-2">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
