<section id="profile" class="bg-odd">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-12">
        <h3 class="text-primary text-uppercase">Profil</h3>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-4">
        <img src="/img/portrait2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 mt-4">
        <p class="body-text text-justify">Tarak verf&uuml;gt &uuml;ber 19 Jahre professionelle Erfahrung in der IT, insbesondere im Bereich Unix/Linux, mit sehr detaillierten Kenntnissen in der Infrastruktur- und Cloud-Architektur, im Configuration Management, Continuous Integration, Continuous Deployment, Testing, Quality Assurance, Cloud Management und in der IT-Sicherheit.</p>
        <p class="body-text text-justify">Er besitzt die F&auml;higkeit, eine Vielzahl von Open-Source Technologien einzusetzen, sich mit Entwicklern &uuml;ber Code auszutauschen und Software auf (von ihm geplanten und realisierten) komplexen Cloud-basierten Umgebungen zu ver&ouml;ffentlichen.</p>
        <p class="body-text text-justify">In den letzten Jahren hat sich Tarak auf Continuous Delivery in Cloud-Umgebungen und Configuration Management mittels DevOps-Frameworks in agilen Prozessen spezialisiert.</p>
        <p class="body-text text-justify">Er arbeitet am liebsten in technisch anspruchsvollen Projekten und Teams, die ihn fordern und in denen er - unter anderem - seine Erfahrung, Motivation, Kreativit&auml;t und Einsatzbereitschaft einbringen kann.</p>
        <p class="body-text text-justify">Tarak ist kommunikativ, pragmatisch, offen und, vor allem, ein Team-Player.</p>
        <p class="body-text text-justify">In den letzten Jahren hat er durch sein breites Wissen, seine zentrale Präsenz in komplexen Projekten und seine integrative Kommunikation mit Kollegen und externen Partnern Vertrauen erhalten, die sich in der Übertragung von Verantwortung in Führungspositionen ausgedrückt hat.</p>
      </div>
    </div>
  </div>
</section>
