<section id="profile" class="bg-alt">
    <div class="container section-header">
        <div class="row">
            <div class="col-lg-12 text-xs-left">
                <h3 class="m-t-0 text-primary text-uppercase">Profil</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeIn">
        <div class="row profile-row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="/img/portrait.jpg" class="img-rounded img-fluid" alt="Tarak Blah">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 text-xs-left">
                <div class="feature">
                    <p class="text-justify">Tarak verf&uuml;gt &uuml;ber 16 Jahre professionelle Erfahrung in der IT, insbesondere im Bereich Unix/Linux, mit sehr detaillierten Kenntnissen in der Infrastruktur- und Cloud-Architektur, im Configuration Management, Continuous Integration, Continuous Delivery, Cloud Management und in der IT-Sicherheit.</p>
                    <p class="text-justify">Er besitzt die F&auml;higkeit, eine Vielzahl von Open-Source Technologien einzusetzen, mit Entwicklern &uuml;ber Code zu br&uuml;ten und Software auf (von ihm geplanten und realisierten) komplexen Cloud-basierten Umgebungen zu ver&ouml;ffentlichen.</p>
                    <p class="text-justify">In den letzten Jahren hat sich Tarak auf die Virtualisierung von verschiedenen Betriebssystemen in Cloud-Umgebungen und deren Konfiguration mittels DevOps-Frameworks in agilen Prozessen spezialisiert.</p>
                    <p class="text-justify">Er arbeitet am liebsten in technisch anspruchsvollen Projekten und Teams, die ihn fordern und in denen er - unter anderem - seine Erfahrung, Motivation, Kreativit&auml;t und Einsatzbereitschaft einbringen kann.</p>
                    <p>Tarak ist kommunikativ, pragmatisch, offen und, vor allem, ein Team-Player.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-left">
                <div class="feature">
                    <h5 class="m-t-0 text-primary text-uppercase skill-title">Information</h5>
                    <table>
                        <tr>
                            <td class="text-xs-right">Anschrift</td>
                            <td><i class="ion-ios-location wow fadeIn" data-wow-delay=".1s"></i></td>
                            <td>Rotenbergstr. 6<br>66111 Saarbr&uuml;cken</td>
                        </tr>
                        <tr>
                            <td class="text-xs-right">Email</td>
                            <td><i class="ion-email wow fadeIn" data-wow-delay=".1s"></i></td>
                            <td>halbkarat [at] gmail.com</td>
                        </tr>
                        <tr>
                            <td class="text-xs-right">Mobil</td>
                            <td><i class="ion-ios-telephone wow fadeIn" data-wow-delay=".1s"></i></td>
                            <td><a href="tel:+4915254228237" class="footer-links">+49 1525 422 82 37</a></td>
                        </tr>
                        <tr>
                            <td class="text-xs-right">Geboren am</td>
                            <td><i class="fa fa-birthday-cake wow fadeIn" data-wow-delay=".1s" aria-hidden="true"></i></td>
                            <td>25.05.1974</td>
                        </tr>
                        <tr>
                            <td class="text-xs-right">Nationalit&auml;t</td>
                            <td><i class="fa fa-flag wow fadeIn" data-wow-delay=".1s"></i></td>
                            <td>Deutsch</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 text-xs-left">
                <div class="feature">
                    <h5 class="m-t-0 text-primary text-uppercase skill-title">Sprachen</h5>
                    <dl>
                        <dt class="text-xs-left">Deutsch</dt>
                        <dd><progress class="progress" value="100" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 100%;">100%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Englisch</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Franz&ouml;sisch</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
