<section id="skills" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-left">
                <h3 class="m-t-0 text-primary">Kompetenzen</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row skills-row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-timer-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">DevOps</h6>
                    <dl>
                        <dt class="text-xs-left">Chef</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Puppet</dt>
                        <dd><progress class="progress" value="50" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 50%;">50%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Ansible</dt>
                        <dd><progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">CFEngine</dt>
                        <dd><progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-code-working wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Entwicklung</h6>
                    <dl>
                        <dt class="text-xs-left">Python</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Ruby</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">PHP</dt>
                        <dd><progress class="progress" value="75" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 75%;">75%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Perl</dt>
                        <dd><progress class="progress" value="50" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 50%;">50%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Powershell</dt>
                        <dd><progress class="progress" value="70" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 70%;">70%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Shell-Scripting (Zsh, Bash, Posix)</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Java</dt>
                        <dd><progress class="progress" value="60" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 60%;">60%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Scala</dt>
                        <dd><progress class="progress" value="45" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 45%;">45%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-people wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Agilit&auml;t</h6>
                    <dl>
                        <dt class="text-xs-left">Kanban</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Scrum</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">JIRA</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row skills-row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-cloud wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Cloud-Platformen</h6>
                    <dl>
                        <dt class="text-xs-left">Amazon AWS Cloud</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">VMWare vCloud</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-cube wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Virtualisierung</h6>
                    <dl>
                        <dt class="text-xs-left">Packer</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Docker</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Vagrant</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">VirtualBox</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">XEN</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-social-tux wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Betriebssysteme</h6>
                    <dl>
                        <dt class="text-xs-left">Linux</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Windows Server</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Windows Desktop</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        </progress></dd>
                        <dt class="text-xs-left">Mac OS X</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Unix/BSD</dt>
                        <dd><progress class="progress" value="75" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 75%;">75%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row skills-row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-social-html5 wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Webdesign</h6>
                    <dl>
                        <dt class="text-xs-left">HTML</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">CSS</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        <dt class="text-xs-left">Javascript</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                        </progress></dd>
                        <dt class="text-xs-left">Bootstrap</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">SASS</dt>
                        <dd><progress class="progress" value="75" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 75%;">75%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Less</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-funnel wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Datenbanken</h6>
                    <dl>
                        <dt class="text-xs-left">PostgreSQL</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">MySQL</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-pull-request wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Versionierung</h6>
                    <dl>
                        <dt class="text-xs-left">GIT</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">SVN</dt>
                        <dd><progress class="progress" value="75" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 75%;">75%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Mercurial</dt>
                        <dd><progress class="progress" value="50" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 50%;">50%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row skills-row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-chatboxes-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Messaging</h6>
                    <dl>
                        <dt class="text-xs-left">RabbitMQ</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Celery</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Amazon Simple Queue Service</dt>
                        <dd><progress class="progress" value="85" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 85%;">85%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-android-funnel wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">NoSQL</h6>
                    <dl>
                        <dt class="text-xs-left">Redis</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Memcache</dt>
                        <dd><progress class="progress" value="75" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 75%;">75%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">MongoDB</dt>
                        <dd><progress class="progress" value="55" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 55%;">55%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-lock-combination wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase skill-title">Sicherheit</h6>
                    <dl>
                        <dt class="text-xs-left">Public Key Infrastructure</dt>
                        <dd><progress class="progress" value="90" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 90%;">90%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Firewall</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">VPN</dt>
                        <dd><progress class="progress" value="95" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 95%;">95%</span>
                            </div>
                        </progress></dd>
                        <dt class="text-xs-left">Intrusion Detection</dt>
                        <dd><progress class="progress" value="80" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 80%;">80%</span>
                            </div>
                        </progress></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>