html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
    color: $color-highlight;
    webkit-tap-highlight-color: $color-dark;
    top: 0;
}

.bg-alt {
    background-color: $color-background-light;
}

.icon-lger {
    margin-right: 0.5em;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: $color-background-darker;
}

footer h4,
footer h6 {
    color: $color-background-light;
}

td {
    vertical-align: top;
    padding: 0.25em;
    border: none;
}

.text-primary {
    color: $color-link !important;
}

.btn-primary {
    background-color: $color-link !important;
    border-color: $color-link !important;
}

.footer-links {
    color: $color-link !important;
}

h4 {
    margin-bottom: 1.5rem;
}

.section-header {
    margin-bottom: 1.5em;
}