body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-y: auto;
  padding-top: 56px;
}

$gray-light2: lighten(#000, 98.6667%);

section {
  min-height: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  section {
    min-height: 100px;
    padding: 6rem 0;
  }
}

.icon-lg {
  font-size: 4rem;
}

.icon-l {
  font-size: 3.5rem;
}

.icon-m {
  font-size: 3rem;
}

.icon-s {
  font-size: 2rem;
}

a.tags {
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: underline;
  }
}

a.social-links {
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }
}

a.contact-links {
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: underline;
  }
}

.excerpt p {
  margin-top: 2rem;
}

.progress {
  background-color: white;
}

.progress-darker {
  background-color: $gray-lighter;
}
.progress-white {
  background-color: white;
}


.bg-odd {
  background-color: $gray-lighter;
}

.bg-even {
  background-color: $gray-light2;
}

.bg-dark {
  background-color: $gray-dark;
}

.fadeIn {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3;
  -ms-transition-animation-duration: 3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}
