// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$blue: #007fff !default;
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$font-family-sans-serif: Lato, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-small-header: 12px !default;
