header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: $color-highlight;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("/img/background.jpg");

    .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
        z-index: 2;

        .inner {
            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 50px;
                font-size: 16px;
                font-weight: 300;
                color: $color-dark;
            }
        }
    }
}

@media (min-width: 34em) {
    .icon-lg {
        font-size: 60px;
    }

    .icon-lger {
        font-size: 40px;
    }

    header {
        min-height: 100%;

        .header-content {
            position: absolute;
            top: 85%;
            padding: 0 50px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .inner {
                margin-right: auto;
                margin-left: auto;
                max-width: 1000px;

                h1 {
                    font-size: 53px;
                }

                p {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 80%;
                    font-size: 18px;
                }
            }
        }
    }

    section {
        min-height: 600px;
        padding: 50px 0;
    }
}