<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-cloud"></i>
        <h4 class="text-uppercase skill-title">Cloud-Plattformen</h4>
        <dl>
            <dt class="text-xs-left">Amazon AWS Cloud</dt>
            <dd><progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">VMWare vCloud</dt>
            <dd><progress class="progress" value="85" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 85%;">85%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">OpenStack</dt>
            <dd><progress class="progress" value="65" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 65%;">65%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">XEN</dt>
            <dd><progress class="progress" value="75" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 75%;">75%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
