<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-ios-timer-outline"></i>
        <h4 class="text-uppercase skill-title">DevOps</h4>
        <dl>
            <dt class="text-xs-left">Chef</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Puppet</dt>
            <dd><progress class="progress" value="50" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 50%;">50%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Ansible</dt>
            <dd><progress class="progress" value="45" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 45%;">45%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">CFEngine</dt>
            <dd><progress class="progress" value="45" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 45%;">45%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
