<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-clipboard"></i>
        <h4 class="text-uppercase skill-title">Logging &amp; Metrics</h4>
        <dl>
            <dt class="text-xs-left">Logstash</dt>
            <dd>
            <progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress>
            </dd>
            <dt class="text-xs-left">Kibana</dt>
            <dd>
            <progress class="progress" value="85" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 85%;">85%</span>
                </div>
            </progress>
            </dd>
            <dt class="text-xs-left">Graphite</dt>
            <dd>
            <progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
            </progress>
            </dd>
            <dt class="text-xs-left">Grafana</dt>
            <dd>
            <progress class="progress" value="75" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 75%;">75%</span>
                </div>
            </progress>
            </dd>
        </dl>
    </div>
</div>
