<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-ios-chatboxes-outline"></i>
        <h4 class="text-uppercase skill-title">Messaging</h4>
        <dl>
            <dt class="text-xs-left">RabbitMQ</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Celery</dt>
            <dd><progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Amazon Simple Queue Service</dt>
            <dd><progress class="progress" value="85" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 85%;">85%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
