<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-android-funnel"></i>
        <h4 class="text-uppercase skill-title">NoSQL</h4>
        <dl>
            <dt class="text-xs-left">Elasticsearch</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Redis</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Memcache</dt>
            <dd><progress class="progress" value="85" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 75%;">75%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">MongoDB</dt>
            <dd><progress class="progress" value="85" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 55%;">55%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
