<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-lock-combination"></i>
        <h4 class="text-uppercase skill-title">Sicherheit</h4>
        <dl>
            <dt class="text-xs-left">Public Key Infrastructure</dt>
            <dd><progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Firewall</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">VPN</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Intrusion Detection</dt>
            <dd><progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
