<div class="col-lg-4 col-md-4 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-cube"></i>
        <h4 class="text-uppercase skill-title">Virtualisierung</h4>
        <dl>
            <dt class="text-xs-left">Packer</dt>
            <dd><progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Docker</dt>
            <dd><progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">Vagrant</dt>
            <dd><progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">VirtualBox</dt>
            <dd><progress class="progress" value="90" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 90%;">90%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">XEN</dt>
            <dd><progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
            </progress></dd>
        </dl>
    </div>
</div>
