<div class="col-lg-6 col-md-6 text-xs-center">
    <div class="feature">
        <i class="icon-lg ion-social-html5"></i>
        <h4 class="text-uppercase skill-title">Webdesign</h4>
        <dl>
            <dt class="text-xs-left">HTML</dt>
            <dd><progress class="progress" value="95" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 95%;">95%</span>
                </div>
            </progress></dd>
            <dt class="text-xs-left">CSS</dt>
            <dd><progress class="progress" value="80" max="100">
                <div class="progress">
                    <span class="progress-bar" style="width: 80%;">80%</span>
                </div>
                <dt class="text-xs-left">Javascript</dt>
                <dd><progress class="progress" value="80" max="100">
                    <div class="progress">
                        <span class="progress-bar" style="width: 80%;">80%</span>
                    </div>
                </progress></dd>
                <dt class="text-xs-left">Bootstrap</dt>
                <dd><progress class="progress" value="95" max="100">
                    <div class="progress">
                        <span class="progress-bar" style="width: 95%;">95%</span>
                    </div>
                </progress></dd>
                <dt class="text-xs-left">SASS</dt>
                <dd><progress class="progress" value="75" max="100">
                    <div class="progress">
                        <span class="progress-bar" style="width: 75%;">75%</span>
                    </div>
                </progress></dd>
                <dt class="text-xs-left">Less</dt>
                <dd><progress class="progress" value="80" max="100">
                    <div class="progress">
                        <span class="progress-bar" style="width: 80%;">80%</span>
                    </div>
                </progress></dd>
            </dl>
        </div>
    </div>
