<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
{% include head.html %}
<body data-spy="scroll" data-target="#navbarToggler">
  {% include navbar.html %}
  {% include header.html %}
  {% include profile.html %}
  {% include experiences.html %}
  {% include skills.html %}
  {% include certificates.html %}
  {% include personal.html %}
  {% include contact.html %}
  {% include privacy.html %}
  {% include impressum.html %}
  {% include footer.html %}
  {% include js_scripts.html %}
</body>
</html>
